@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --highlight-primary: #818CF8;
  --highlight-secondary: #4f46e5;
  --base-primary: #262626;
  --base-secondary: #171717;
}

:root {
  --text-primary: #4b4b4b;
  --text-secondary: #a3a3a3;
  --highlight-primary: #818cf8;
  --highlight-secondary: #4f46e5;
  --base-primary: #ffffff;
  --base-secondary: #cfcfcf;
}

:root {
  --text-primary: #9E2A2B;
  --text-secondary: #E45556;
  --highlight-primary: #124559;
  --highlight-secondary: #01161E;
  --base-primary: #AEC3B0;
  --base-secondary: #96B899;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}